@font-face{font-family:Pacifico;font-style:normal;font-weight:400;src:local('Pacifico Regular'),local('Pacifico-Regular'),url(https://fonts.gstatic.com/s/pacifico/v7/fKnfV28XkldRW297cFLeqfesZW2xOQ-xsNqO47m55DA.ttf) format('truetype')}
body,html{height:100%;margin:0}
body{font:100% Helvetica,sans-serif;background-color:#6ADDFF}
.colorPrimario{color:#6ADDFF}
.colorAcentuado{color:#00C5FF}
.colorOscuro,h1{color:#00627F}
.marginTop{margin-top:50px}
.pacifico{font-family:Pacifico,cursive}
h1{text-align:center;font-size:x-large;margin-top:inherit;font-family:Pacifico;padding:25px}
td,th{vertical-align:top;text-align:right;padding:50px}
.container,.main{text-align:center}
.container{margin:auto;padding:25px;display:table}
.main{padding:10px;display:block;margin:5px 50px 10px}
.main button{float:none;background-color:#6fba26;padding:10px;position:relative;font-family:'Open Sans',sans-serif;font-size:12px;text-decoration:none;color:#fff;background-image:linear-gradient(bottom,#64aa1e 0,#81d433 100%);box-shadow:inset 0 1px 0 #b2f17f,0 6px 0 #3d6f0d;border-radius:5px}
.main button:active{float:none;top:7px;box-shadow:inset 0 1px 0 #b2f17f,inset 0 -1px 0 #3d6f0d;color:#156785;text-shadow:0 1px 1px rgba(255,255,255,.3);background:#2ca0ca}
.footer_links{background-color:#00627F;position:absolute;left:0;bottom:0;height:100px;width:100%;float:left;margin-top:5px;display:block}
.footer_links ul{float:left;list-style:none}
.footer_links li{float:left;padding-left:30px;margin-bottom:30px}
.footer_links img{width:50px;height:50px}
i{font-weight:200;font-style:normal}
#finaltable:hover td{background-color:#00f}
tr:nth-child(odd){background-color:#009ECC}
tr:nth-child(even){background-color:#56767F}
input{text-align:right;border:none;margin:inherit;padding:inherit}
textarea{border:outset #fff}
table{border:inset #fff}
table.center{margin-left:100px;margin-right:auto}
#result{border-color:red}
tr.error{background-color:red}