@import 'reset';
@import url(https://fonts.googleapis.com/css?family=Pacifico);
body {
  font: 100% Helvetica, sans-serif;
  background-color: #6ADDFF;
}


.colorPrimario {
	color: #6ADDFF;
}

.colorAcentuado {
	color: #00C5FF;
}

.colorOscuro {
	color: #00627F;
}

.marginTop {
	margin-top: 50px;
}

.pacifico {
	font-family: 'Pacifico', cursive;
}

h1            {
	text-align: center;
	font-size: x-large;
	margin-top: inherit;
	font-family: 'Pacifico';
	color: #00627F;
	padding: 25px;
 }
th, td        {
	vertical-align: top;
	text-align: right;
	padding: 50px;
}

.container {
	margin: auto;
	padding: 25px;
	text-align:  center;
	display: table;
}
i {
	font-weight: 200;
	font-style: normal;
}
/* #finaltable  * { color: white; background-color: black; }   */

/* #finaltable table { border-collapse:collapse; } */
/* #finaltable table, td { border:1px solid white; } */
#finaltable:hover td { background-color: blue; }
tr:nth-child(odd)    { background-color:#009ECC; }
tr:nth-child(even)    { background-color:#56767F; }
input        {
	text-align: right;
	border: none;
	margin: inherit;
	padding: inherit;
}     /* Align input to the right  */
textarea     { border: outset; border-color: white;       }
table        { border: inset; border-color: white; }
table.center { margin-left:auto; margin-right:auto; }
#result      { border-color: red; }
tr.error       { background-color: red; }
